<ion-view title="Balance" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="balance-list3" class=" ">
            <ion-item class="item-avatar  " id="balance-list-item9" href="tel:">
                <h2>Aga</h2>
                <p>Nadpłata: 30 zł</p>
            </ion-item>
            <ion-item class="item-avatar  " id="balance-list-item10">
                <h2>Renia</h2>
                <p>Dług: 30 zł</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>