<ion-view title="Expenses" id="expenses" class=" ">
    <ion-content padding="true" class="has-header">
        <div class=" button-bar ">
            <a ui-sref="app.newExpense" class=" button button-positive  button-block icon-left ion-android-add-circle ">Add</a>
            <button ng-click="personsListModal.show()" class=" button button-stable  button-block icon-left ion-ios-list-outline ">Sort</button>
        </div>
        <ion-list id="expenses-list" class=" ">
            <a class="item" ng-repeat="expense in expenses" href="#">
                <div class="row">
                    <div class="col col-10">
                        <div class="circle">{{expense.person[0]}}</div>
                    </div>
                    <div class="col col-50">
                        <h3>{{expense.person}}</h3>
                        <p style="font-style: italic;">{{expense.description}}</i>
                        </p>
                    </div>
                    <div class="col-40">
                        <span class="badge badge-royal">{{expense.sum}} {{expense.currency}}</span>
                    </div>
                </div>
            </a>

            <!--<ion-item ng-repeat="expense in expenses" class="item-avatar item-icon-right  " id="expenses-list-item5">
                <h2>{{expense.person}} - </h2>
                <p style="white-space:normal;"></p>
                <i class="icon ion-ios-person"></i>
            </ion-item>-->
        </ion-list>

        <div class="list">



        </div>

    </ion-content>
</ion-view>