<ion-side-menus enable-menu-with-back-views="false" data-componentid="side-menu21">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <!--<ion-nav-view name='menuContent'></ion-nav-view>-->
        <ion-tabs class="tabs-stable tabs-icon-top fade-in-not-out">
        <ion-tab title="Expenses" icon="ion-ios-cart" href="#/app/expenses">
            <ion-nav-view name="tab-expense"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Balance" icon="ion-calculator" href="#/app/balance">
            <ion-nav-view name="tab-balance"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21">
        <ion-header-bar class="bar-stable">
            <div class="title">Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
            <button ng-click="deleteAllData()" class=" button button-positive button-block">Clear data</button>
            <a ui-sref="app.persons" menu-close="" id="menu-button9" class=" button button-block " data-componentid="button9">Manage people</a>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>