<ion-view title="Rates" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <a class="item" ng-repeat="(rateName, rate) in rates" ng-if="rateName!=currentCurrency" ng-click="showPopup(rateName, rate.flag)">
                <div class="row">
                    <div class="col col-10">
                        <img src="img/flags/{{rate.flag}}.gif" />
                    </div>
                    <div class="col col-20">
                        {{rateName}}
                    </div>
                    <div class="col col-50 avatar-label">
                        {{rate.value}} {{currentCurrency}}
                    </div>
                </div>
            </a>
        </ion-list>
    </ion-content>
</ion-view>