<ion-view title="Tabs Controller" id="page1" class=" ">
    <ion-tabs class="tabs-stable tabs-icon-top " id="tabsController-tabs1">
        <ion-tab title="Expenses" icon="ion-ios-cart" href="#/page1/expenses" id="tabsController-tab2" class=" ">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Balance" icon="ion-calculator" href="#/page1/balance" id="tabsController-tab3" class=" ">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>